flask>=3.0
flask-sqlalchemy>=3.1
werkzeug>=3.0
gunicorn>=21.0

psycopg2-binary>=2.9
sqlalchemy>=2.0
python-dotenv>=1.0

pillow>=10.0
opencv-python-headless>=4.8
numpy==1.26.4

cloudinary>=1.36

torch==2.9.0
torchvision==0.24.0
